<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zyapp.sm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".teacher.UpdateInfoActivity"></activity>
        <!-- 学生管理 -->
        <activity
            android:name=".student.StudentActivity"
            android:label="@string/app_name"></activity> <!-- 修改密码 -->
        <activity
            android:name=".student.ModificationActivity"
            android:label="@string/app_name" /> <!-- 个人信息 -->
        <activity
            android:name=".student.InformationActivity"
            android:label="@string/app_name" /> <!-- 我的作业 -->
        <activity
            android:name=".student.WorkActivity"
            android:label="@string/app_name" /> <!-- 我的课程 -->
        <activity
            android:name=".student.CourseActivity"
            android:label="@string/app_name" /> <!-- 管理员 -->
        <activity android:name=".admin.AdministratorsActivity" />
        <activity android:name=".admin.Information" />
        <activity android:name=".admin.StudentInformation" />
        <activity android:name=".admin.TeacherInformation" /> <!-- 老师 -->
        <activity android:name=".teacher.TeacherActivity"></activity>
        <activity android:name=".activity.StudentLoginActivity" />
        <activity android:name=".activity.TeacherLoginActivity" />
        <activity android:name=".activity.AdminLoginActivity" /> <!-- 开始跳转 -->
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 注册 -->
        <activity android:name="activity.StudentLoginActivity" />
        <activity android:name="activity.TeacherLoginActivity" />
        <activity android:name="activity.AdminLoginActivity" />
        <activity android:name=".SelectLoginActivity" />
        <activity android:name=".activity.AdminRegisterActivity" />
        <activity android:name=".activity.TeacherRegisterActivity" />
    </application>

</manifest>